---
const title = "404 - Página no encontrada";

const {url} = Astro.request;
const path = new URL(url).pathname;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="min-h-screen flex flex-col items-center justify-center bg-[#0f1516] text-white gap-2 bg-ameri2 bg-cover bg-center"
  >
    <div class="relative flex flex-col items-center group">
      <img src="duki-mirandote.webp" class="group-hover:animate-spin" />
      <div
        class="absolute -top-8 left-1/2 -translate-x-1/2 -translate-y-full bg-white text-black px-4 py-2 rounded-xl shadow-lg text-base font-semibold max-w-xs text-center speech-bubble"
      >
        <span class="group-hover:hidden flex"
          >¿Boludo te perdiste? {path} no existe.</span
        >
        <span class="group-hover:flex hidden">aaaaaaaa pega como cotto.</span>
        <span
          class="absolute left-1/4 -bottom-2 -translate-x-1/3 w-0 h-0 border-x-8 border-x-transparent border-t-8 border-t-white"
        ></span>
      </div>
    </div>

    <a
      href="/"
      class="px-6 py-2 bg-ameri-60 rounded-md text-white font-semibold hover:bg-ameri-50 transition-colors"
      >Volver al inicio</a
    >
  </body>
</html>
