---
import Albums from "../components/Albums.astro";
import AllSongTimeLine from "../components/AllSongTimeLine.astro";
import Antezana from "../components/Antezana.astro";
import DevilMode from "../components/DevilMode.astro";
import FifthStep from "../components/FifthStep.astro";
import Footer from "../components/Footer.astro";
import Freestyles from "../components/Freestyles.astro";
import Hitboys from "../components/Hitboys.astro";
import Home from "../components/Home.astro";
import Interviews from "../components/Interviews.astro";
import Modal from "../components/Modal.astro";
import NoOtherWay from "../components/NoOtherWay.astro";
import TheBeginnings from "../components/TheBeginnings.astro";
import Vampires from "../components/Vampires.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dukipedia 𓆰𓆪">
  <Modal />
  <main style="content-visibility:auto;">
    <Home />
  </main>
  <section style="content-visibility:auto;">
    <TheBeginnings />
  </section>
  <section style="content-visibility:auto;">
    <FifthStep />
  </section>
  <section style="content-visibility:auto;">
    <Freestyles />
  </section>
  <section style="content-visibility:auto;">
    <AllSongTimeLine />
  </section>
  <section style="content-visibility:auto;">
    <Antezana />
  </section>
  <section style="content-visibility:auto;" class="bg-black">
    <DevilMode />
  </section>
  <section style="content-visibility:auto;">
    <Hitboys />
  </section>
  <section style="content-visibility:auto;">
    <Vampires />
  </section>
  <section style="content-visibility:auto;" class="bg-zinc-900">
    <Interviews />
  </section>
  <section style="content-visibility:auto;">
    <NoOtherWay />
  </section>
  <section style="content-visibility:auto;">
    <Albums />
  </section>
  <Footer />
</Layout>
