---
import AllSongTimeLine from "../components/AllSongTimeLine.astro";
import FifthStep from "../components/FifthStep.astro";
import Freestyles from "../components/Freestyles.astro";
import Home from "../components/Home.astro";
import TheBeginnings from "../components/TheBeginnings.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dukipedia 𓆰𓆪">
  <main style="content-visibility:auto;">
    <Home />
  </main>
  <section style="content-visibility:auto;">
    <TheBeginnings />
  </section>
  <section style="content-visibility:auto;">
    <FifthStep />
  </section>
  <section style="content-visibility:auto;">
    <Freestyles />
  </section>
  <section style="content-visibility:auto;">
    <AllSongTimeLine />
  </section>
</Layout>
