---
import AllSongTimeLine from "../components/AllSongTimeLine.astro";
import Home from "../components/Home.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dukipedia 𓆰𓆪">
  <main>
    <Home />
  </main>
  <section>
    <AllSongTimeLine />
  </section>
</Layout>
