---
import AllSongTimeLine from "../components/AllSongTimeLine.astro";
import FifthStep from "../components/FifthStep.astro";
import Home from "../components/Home.astro";
import TheBeginnings from "../components/TheBeginnings.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dukipedia 𓆰𓆪">
  <main>
    <Home />
  </main>
  <section>
    <TheBeginnings />
  </section>
  <section>
    <FifthStep />
  </section>
  <section>
    <AllSongTimeLine />
  </section>
</Layout>
