---

---

<style>
    .dukiCantando: {}
</style>

<article class="relative w-dvw h-dvh justify-center">
    <div class="absolute flex-col flex z-40 left-[15%] md:left-[50%] top-[20%] md:top-[35%] md:gap-3">
        <div class="flex flex-row items-center" >
            <img class="w-10 md:w-24 h-10 md:h-24" src="/duki-logo.svg">
            <h1 class="text-5xl md:text-8xl font-bold">
                UKIPEDIA 
            </h1>
        </div>
        <h3 class="pl-4 text-xs md:text-xl font-semibold">
            La historia de Mauro Ezequiel Lombardo
        </h3>
    </div>
    <img class="object-cover w-dvw h-dvh absolute left-0 top-0 z-20" src="/degrade.png">
    <img class="object-cover w-80 md:w-4/12 absolute md:left-[10%] bottom-0 z-10" style="filter: drop-shadow(0 0 1rem rgb(255, 255, 255))" src="/duki-cantando.png">
    <img class="object-cover w-dvw h-dvh absolute left-0 top-0 z-0 " src="/estadio.png">
</article>