---
import NoOtherWayCard from "./NoOtherWayCard.astro";

const data = [
  {
    title: "Entrevista a duki",
    img: "/duki-cara-tapada.webp",
    text: "En una entrevista, Duki menciona que, desde muy joven, decidió enfocarse completamente en la música, comentando que al terminar su etapa en las batallas de freestyle con El Quinto Escalón, se encerró a grabar constantemente, sintiendo que no había otra opción para él más que triunfar en la música. Esta obsesión y compromiso fueron fundamentales para su éxito.",
    link: "https://www.filo.news/actualidad/Duki-Extrano-sorprender-y-ser-el-desconocido-que-llego-y-exploto-el-mundo-20210505-0037.html",
  },
  {
    title: "Entrevista a duki",
    img: "/duki-te-apunta.webp",
    text: 'Duki ha señalado que en su camino hacia la cima, hubo momentos de incertidumbre, pero nunca dejó de creer en su proyecto y continuó avanzando sin mirar atrás. Esta mentalidad es lo que lo ha impulsado a superar adversidades, afirmando en varias ocasiones que no había un "plan B", solo la música',
    link: "https://youtu.be/91tfmlPUcQo?list=PLi0NmtMIAcT_M_TcSg8Dic6_J8SRVdfnf&t=419",
  },
];
---

<article
  class="min-h-svh bg-gradient-to-b from-ameri-90 to-black flex flex-col items-center pb-12"
>
  <header
    class="bg-dukiVelez bg-cover bg-center bg-no-repeat w-full flex flex-col items-center justify-end h-[200px] md:h-[500px] 3xl:h-[700px] md:pb-6 md:px-6"
  >
    <div class="relative p-2 md:p-8 backdrop-blur-sm">
      <div
        class="absolute inset-0 bg-black opacity-30 rounded-t-md md:rounded-md"
      >
      </div>
      <div class="relative flex flex-col md:flex-row justify-between">
        <h1 class="text- md:text-3xl 2xl:text-5xl font-bold text-white flex-1">
          No existe un plan B
        </h1>
        <p
          class="text-xs md:text-lg 2xl:text-xl font-semibold text-white flex-1"
        >
          En varias entrevistas, Duki ha expresado esta idea, mostrando la
          dedicación total que ha puesto en su carrera musical.
        </p>
      </div>
    </div>
  </header>
  <div class="flex flex-col justify-between px-8">
    {
      data.map((item, i) => (
        <NoOtherWayCard
          title={item.title}
          img={item.img}
          text={item.text}
          link={item.link}
          reverse={i % 2 === 0}
        />
      ))
    }
  </div>
</article>
