---
import classNames from "classnames";

const {img, text, link, title, reverse} = Astro.props;
---

<div
  class={classNames(
    `relative mt-12 flex flex-col md:flex-row py-3 md:py-9 px-4 md:px-16 gap-5 bg-[#0F1516] rounded-md `,
    reverse ? "md:flex-row-reverse" : "md:flex-row"
  )}
>
  <div
    class={classNames(
      `absolute -top-7 bg-[#0F1516] rounded-t-md pt-2`,
      reverse ? "md:right-16 right-4" : "md:left-16 left-4"
    )}
  >
    <h2 class="text-xl font-semibold w-[300px] text-center">{title}</h2>
  </div>
  <img src={img} class="aspect-square rounded-md max-w-full md:max-w-[300px]" />
  <div class="flex flex-col justify-between max-w-full md:max-w-[600px] gap-4">
    <p class="text-sm md:text-lg text-white prose prose-white">{text}</p>
    <div
      class={classNames(
        "flex justify-center",
        reverse ? "md:justify-start" : "md:justify-end"
      )}
    >
      <a
        href={link}
        class="border-2 border-ameri-100 rounded-md px-3 text-center py-1"
        >Ir a la entrevista</a
      >
    </div>
  </div>
</div>
